<?xml version="1.0"?>
<launch>
  <!-- this EKF combines the IMU and the wheel odometers to give 
    odometry in the odom frame
  -->
  <node pkg="robot_localization" 
    type="ekf_localization_node" 
    name="odom_ekf">

  <param name="twist0" value="twist" />
  <param name="imu0" value="imu/data" />
  <param name="two_d_mode" value="true" />
  <param name="map_frame" value="map" />
  <param name="world_frame" value="odom" />
  <param name="odom_frame" value="odom" />
  <param name="base_link_frame" value="base_link" />
  <param name="frequency" value="10" />

  <!-- from the wheel encoders, only use v_x and v_yaw -->
  <rosparam param="twist0_config">[false, false, false,
                                false, false, false,
                                true, false, false,
                                false, false, false,
                                false, false, false]
  </rosparam>

  <!-- only use compass heading from IMU -->
  <rosparam param="imu0_config">[false, false, false,
                               false, false, true,
                               false, false, false,
                               false, false, false,
                               false, false, false]
  </rosparam>
  </node>

</launch>
